<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
	</head>
	<body>
		<!-- Основой блок сайта, все детали находятся внутри него -->
		<div class="block_1">
			<!-- Шапка сайта -->
			<div class="container">
				<a class="site_logo" href="/"><img src="{{url_for('static', filename='img/logo.png')}}" alt="Кофейня"></a>
				<img class="contacts" src="{{url_for('static', filename='img/phone.png')}}" alt="+7 (3435) 25-60-60">
			</div>
			<!-- Верхнее меню сайта -->
			<div class="top_menu">
				<!-- Меню с кнопками и ссылками на разделы сайта -->
				<div class="nav_1">
					<ul>
					    <li><a href="#1">о нас</a></li>
					    <li><a href="#2">ассортимент</a></li>
					    <li><a href="#3">отзывы</a></li>
					    <li><a href="#4">забронировать столик</a></li>
					    <li><a href="#5">наши клиенты</a></li>
					    <li><a href="{{ url_for('contacts') }}">контакты</a></li>
					</ul>
				</div>
				<!-- Второй блок без кнопок с заливкой  -->
				<div class="nav_2">
					<!-- pass -->
				</div>
			</div>
			<!-- Левое меню сайта -->
			<div class="nav_left">
				<div class="nav_left_1">
					<ul class="left_list">
						<li><a href="{{ url_for('index') }}">Кофе Айриш</a></li>
						<li><a href="{{ url_for('index') }}">Кофе Американо</a></li>
						<li><a href="{{ url_for('index') }}">Кофе Глясе</a></li>
						<li><a href="{{ url_for('index') }}">Кофе Диппио</a></li>
						<li><a href="{{ url_for('index') }}">Кофе Капучино</a></li>
						<li><a href="{{ url_for('index') }}">Кофе Кон Панна</a></li>
						<li><a href="{{ url_for('index') }}">Кофе Коретто</a></li>
						<li><a href="{{ url_for('index') }}">Кофе Латте</a></li>
						<li><a href="{{ url_for('index') }}">Кофе Лунго</a></li>
					</ul>
				</div>
			</div>
            {% block nameBlock %}
            {% endblock %}
		</div>
		<!-- Меняем класс для активного меню -->
 		<script src="{{url_for('static', filename='js/script.js')}}"></script>
	</body>
</html>