{% extends 'base/base.html' %}
{% block nameBlock %}
    <div class="article">
        <h1>Контакты</h1>
        <p>Вы можете оставить свои контакты для регистрации на сайте в качестве
            постоянного клиента.</p>
        <form>
            <p><input
                    type="text"
                    name="userLogin"
                    placeholder="Введите логин"
                    size="18"
                    pattern="^[A-Za-z]+$]"
                    required/>
            </p>
            <p><input
                    type="email"
                    name="userMail"
                    placeholder="Введите почту"
                    size="18"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    minlength="8"
                    required/></p>
            <p><input
                    type="password"
                    name="userPassword"
                    placeholder="Введите пароль"
                    size="18"
                    required/></p>
            <p>
                <button type="submit">Отправить</button>
                <button type="reset">Отмена</button>
            </p>
        </form>
    </div>
{% endblock %}